@media (min-width: 576px) {
    .search-icon {
        position: absolute;
        width: 45px;
        right: 100px;
        top: 0;
        bottom: 0;
        background-color: #FF4A52;
    }
    .search-icon {
        right: 45px;
    }

    .search-icon a {
        color: white!important;
    }
    .drop-down-menu {
        position: absolute;
        width: 45px;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1EC6B6;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
}

@media (min-width: 768px) {
    .search-icon {
        right: 45px;
    }
}

@media (min-width: 992px) {
    nav li {
        display: inline-block;
    }

    .drop-down-menu {
        display: none!important;
    }
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 1200px) {
    .search-icon {
        width: 100px;
    }
    .search-bar {
        flex-direction: row;
        justify-content: center;
    }

    .search-form {
        flex-direction: row;
        justify-content: center;
    }
    .newsletter-container {
        flex-direction: row;
        justify-content: center;
    }
    .newsletter-text {
        margin-top: 0;
        margin-right: 10px;
    }
    .mail-form {
        display: block;
    }
}


