body {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-top: -70px;
}

img {
    width: 65px;
    height: 65px;
    margin-right: 250px;
    margin-top: 100px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #b3acac;

}

ul {
    list-style-type: none;
}

.li1 {
    margin-right: 330px;
    display: inline-block;
    float: right;
    margin-top: -60px;
    color: #645e5e;
    font-weight: 900;

}

.li2 {
    margin-right: 410px;
    display: inline-block;
    float: right;
    margin-top: -60px;
    font-weight: 900;
    color: #645e5e;


}

.t1 {   
    margin-right: 530px;
    background-color: #f1e9e9;
    border: none;
    display: inline;
    float: right;
    margin-top: -70px;
    padding: 8px 150px;
    border-radius: 5px;
    font-weight: 900;
    color: #f1e9e9;
    text-align: right;
}


.nav1 {
    margin-right: 1300px;
    color: #645e5e;
}


.ul1 li {
    display: inline-block;
    padding: 30px;
    margin-top: -100px;
    position: relative;
    top: -70px;
    font-size: 17px;
    font-weight: 900;
}


.b1 {
    border: none;
    padding: 8px 20px;
    background-color: rgb(187, 20, 20);
    color: #ffffff;
    font-weight: 900;
    font-size: 20px;
}

.p11 {
    text-align: center;
    margin-top: -100px;
    color: #f1e9e9;
}


.p12 {
    margin-right: 245px;
    margin-top: -10px;
    color: #f1e9e9;
}

dl {
    margin-right: 300px;
    padding: 20px;
    


}

dt {
    margin-top: -10px;
    font-size: 20px;
    margin-right: -60px ;
    color: #574c4c;
}

.dd1:hover {
    color: #615c5c;
}

.dd2:hover {
    color: #615c5c;
}

.dd3:hover {
    color: #615c5c;
}

.dd4:hover {
    color: #615c5c;
}

.dd5:hover {
    color: #615c5c;
}

.dd6:hover {
    color: #615c5c;
}

.dd7:hover {
    color: #615c5c;
}

.dd8:hover {
    color: #615c5c;
}

.dd9:hover {
    color: #615c5c;
}


.d1 {
    color: #5a5353;
    margin-right: -60px;
    margin-top: 10px;
    font-size: 17px;
    cursor: pointer;
}

.dd1 {
    
    margin-right: -60px;
    margin-top: 10px;
    font-size: 17px;
    color: #968e8e;
    padding: 3px;
    cursor: pointer;

}

.dd2 {
    margin-right: -60px;
    margin-top: 10px;
    font-size: 17px;
    color: #968e8e;
    padding: 3px;
    cursor: pointer;


}

.dd3 {
    margin-right: -60px;
    margin-top: 10px;
    font-size: 17px;
    color: #968e8e;
    padding: 3px;
    cursor: pointer;

}

.dd4 {
    margin-right: -60px;
    margin-top: 10px;
    font-size: 17px;
    color: #968e8e;
    padding: 3px;
    cursor: pointer;


}

.dd5 {
    margin-right: -60px;
    margin-top: 10px;
    font-size: 17px;
    color: #968e8e;
    padding: 3px;
    cursor: pointer;


}

.dd6 {
    margin-right: -60px;
    margin-top: 10px;
    font-size: 17px;
    color: #968e8e;
    padding: 3px;
    cursor: pointer;


}

.dd7 {
    margin-right: -60px;
    margin-top: 10px;
    font-size: 17px;
    color: #968e8e;
    padding: 3px;
    cursor: pointer;


}

.dd8 {
    margin-right: -60px;
    margin-top: 10px;
    font-size: 17px;
    color: #968e8e;
    padding: 3px;
    cursor: pointer;


}

.dd9 {
    margin-right: -60px;
    margin-top: 10px;
    font-size: 17px;
    color: #968e8e;
    padding: 3px;
    cursor: pointer;


}

/* ------------------------------- */

.h11 {
    font-size: 15px;
    margin-top: -440px;
    margin-right: 1100px;
}

.div1 {
    border: 1px solid #b3acac;
    width: 370px;
    height: 170px;
    margin-right: 565px;
    margin-top: 30px;
    cursor: pointer;
    
}

.div11 {
    border: 1px solid #b3acac ;
    width: 130px;
    height: 130px;
    margin-right: 60%;
    margin-top: -160px;
    border-radius: 10px;
}

.h31 {
    margin-right: 15px;
    color: #5f5a5a;
}


.p20 {
    margin-right: 15px;
    margin-top: 50px;
    color: #b3acac;
}
.p21 {
    margin-right: 15px;
    margin-top: -10px;
    color: #b3acac;
}

.p22 {
    margin-right: 15px;
    margin-top: -8px;
    color: #b3acac;
}

h1 {
    color: #b3acac;
    display: block;
    position: relative;
    right: 90px;
}

.img1 {
    width: 130px;
    height: 130px;
    margin-top: 0;
    margin-right: 0;
    border-radius: 10px;
}

/* ------------------------- */

.div2 {
    border: 1px solid #b3acac;
    width: 370px;
    height: 170px;
    margin-right: 950px;
    margin-top: -172px;
    cursor: pointer;
}

.div3 {
    border: 1px solid #b3acac;
    width: 370px;
    height: 170px;
    margin-right: 1340px;
    margin-top: -173px;
    cursor: pointer;
}

.p23 {
    margin-right: 15px;
    margin-top: 55px;
    color: #b3acac;
}

.p24 {
    margin-right: 15px;
    margin-top: -12px;
    color: #b3acac;
}

.p25 {
    margin-right: 15px;
    margin-top: -10px;
    color: #b3acac;
}

.div12 {
    border: 1px solid #b3acac;
    width: 130px;
    height: 130px;
    margin-right: 220px;
    margin-top: -160px;
    border-radius: 10px;
}

.img2 {
    width: 130px;
    height: 130px;
    margin-right: 0px;
    margin-top: 0;
    border-radius: 10px;
}

.h32 {
    margin-right: 10px;
    color: #5f5a5a;
}

.h33 {
    margin-right: 10px;
    color: #5f5a5a;

}

.div13 {
    border: 1px solid #b3acac;
    width: 130px;
    height: 130px;
    margin-right: 220px;
    margin-top: -160px;
    border-radius: 10px;
}

.img3 {
    width: 130px;
    height: 130px;
    margin-right: 0px;
    margin-top: 0;
    border-radius: 10px;
}

.p26 {
    margin-right: 15px;
    margin-top: 30px;
    color: #b3acac;
}

.p27 {
    margin-right: 15px;
    margin-top: -10px;
    color: #b3acac;

}

.p28 {
    margin-right: 15px;
    margin-top: -10px;
    color: #b3acac;
}

/* -------------------------------- */

.div4 {
    border: 1px solid #b3acac;
    width: 370px;
    height: 170px;
    margin-right: 565px;
    margin-top: 10px;
    cursor: pointer;
}

.h34 {
    margin-right: 15px;
    color: #5f5a5a;
}

.p29 {
    margin-right: 15px;
    margin-top: 55px;
    color: #b3acac;
}

.p30 {
    margin-right: 15px;
    margin-top: -10px;
    color: #b3acac;
}

.p31 {
    margin-right: 15px;
    margin-top: -10px;
    color: #b3acac;
}

.div14 {
    border: 1px solid #b3acac;
    width: 130px;
    height: 130px;
    margin-right: 220px;
    margin-top: -160px;
    border-radius: 10px;
}

.img4 {
    width: 130px;
    height: 130px;
    margin-right: 0;
    margin-top: 0;
    border-radius: 10px;
}

/* ----------------------------- */

.div5 {
    border: 1px solid #b3acac;
    width: 370px;
    height: 170px;
    margin-right: 950px;
    margin-top: -172px;
    cursor: pointer;
}

.h35 {
    margin-right: 15px;
    color: #5f5a5a;
}

.p32 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: 55px;

}

.p33 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: -8px;

}

.p34 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: -10px;

}

.div15 {
    border: 1px solid #b3acac;
    width: 130px;
    height: 130px;
    margin-right: 220px;
    margin-top: -160px;
    border-radius: 10px;
}

.img5 {
    width: 130px;
    height: 130px;
    margin-right: 0;
    margin-top: 0;
    border-radius: 10px;
}

/* ----------------------------- */

.div6 {
    border: 1px solid #b3acac;
    width: 370px;
    height: 170px;
    margin-right: 1340px;
    margin-top: -172px;
    cursor: pointer;
}

.h36 {
    margin-right: 15px;
    color: #5f5a5a;
}

.p35 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: 40px;
}
.p36 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: -14px;
}

.p37 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: -14px;
}

.div16 {
    border: 1px solid #b3acac;
    width: 130px;
    height: 130px;
    margin-right: 230px;
    margin-top: -160px;
    border-radius: 10px;
}

.img6 {
    width: 130px;
    height: 130px;
    margin-right: 0;
    margin-top: 0;
    border-radius: 10px;
}

/* -------------------------- */

.div7 {
    border: 1px solid #b3acac;
    width: 370px;
    height: 170px;
    margin-right: 564px;
    margin-top: 10px;
    cursor: pointer;
}

.h37 {
    margin-right: 15px;
    color: #5f5a5a;
}

.p38 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: 70px;
} 

.p39 {
    margin-right: 15px;
    color: #b3acac;
}


.div17 {
    border: 1px solid #b3acac;
    width: 130px;
    height: 130px;
    margin-right: 230px;
    margin-top: -160px;
    border-radius: 10px;
}

.img7 {
    width: 130px;
    height: 130px;
    margin-right: 0;
    margin-top: 0;
    border-radius: 10px;
}

/* -------------------------------- */

.div8 {
    border: 1px solid #b3acac;
    width: 370px;
    height: 170px;
    margin-right: 950px;
    margin-top: -172px;
    cursor: pointer;
}

.h38 {
    margin-right: 15px;
    color: #5f5a5a;
}

.p40 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: 60px;
}

.p41 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: -10px;
}

.p42 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: -14px;
}

.div18 {
    border: 1px solid #b3acac;
    width: 130px;
    height: 130px;
    margin-right: 230px;
    margin-top: -160px;
    border-radius: 10px;
}

.img8 {
    width: 130px;
    height: 130px;
    margin-right: 0;
    margin-top: 0;
    border-radius: 10px;
}

/* ----------------------------- */

.div9 {
    border: 1px solid #b3acac;
    width: 370px;
    height: 170px;
    margin-right: 1340px;
    margin-top: -172px;
    cursor: pointer;
}

.h39 {
    margin-right: 15px;
    color: #5f5a5a;
}

.p43 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: 40px;
}

.p44 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: -14px;
}

.p45 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: -14px;
}

.div19 {
    border: 1px solid #b3acac;
    width: 130px;
    height: 130px;
    margin-right: 230px;
    margin-top: -160px;
    border-radius: 10px;
}

.img9 {
    width: 130px;
    height: 130px;
    margin-right: 0;
    margin-top: 0;
    border-radius: 10px;
}

/* ----------------------------- */

.div10 {
    border: 1px solid #b3acac;
    width: 370px;
    height: 170px;
    margin-right: 564px;
    margin-top: 10px;
    cursor: pointer;
}

.h310 {
    margin-right: 15px;
    color: #5f5a5a;
}

.p46 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: 60px;
}

.p47 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: -15px;
}

.p48 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: -12px;
} 


.div20 {
    border: 1px solid #b3acac;
    width: 130px;
    height: 130px;
    margin-right: 230px;
    margin-top: -160px;
    border-radius: 10px;
}

.img10 {
    width: 130px;
    height: 130px;
    margin-right: 0;
    margin-top: 0;
    border-radius: 10px;
}

/* ----------------------------- */

.div100 {
    border: 1px solid #b3acac;
    width: 370px;
    height: 170px;
    margin-right: 950px;
    margin-top: -172px;
    cursor: pointer;
}

.h311 {
    margin-right: 15px;
    color: #5f5a5a;
}


.p49 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: 80px;
}

.p50 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: -10px;
}

.div21 {
    border: 1px solid #b3acac;
    width: 130px;
    height: 130px;
    margin-right: 230px;
    margin-top: -160px;
    border-radius: 10px;
}

.img11 {
    width: 130px;
    height: 130px;
    margin-right: 0;
    margin-top: 0;
    border-radius: 10px;
}

/* --------------------------------- */

.div101 {
    border: 1px solid #b3acac;
    width: 370px;
    height: 170px;
    margin-right: 1340px;
    margin-top: -172px;
    cursor: pointer;
}

.h312 {
    margin-right: 15px;
    color: #5f5a5a;
}

.p51 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: 40px;

}

.p52 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: -14px;

}

.p53 {
    margin-right: 15px;
    color: #b3acac;
    margin-top: -14px;
}

.div22 {
    border: 1px solid #b3acac;
    width: 130px;
    height: 130px;
    margin-right: 230px;
    margin-top: -160px;
    border-radius: 10px;
}

.img12 {
    width: 130px;
    height: 130px;
    margin-right: 0;
    margin-top: 0;
    border-radius: 10px;
}

/* -------------------------------- */

.p400 {
    margin-top: -350px;
    margin-right: 260px;
    color: #b3acac;
}

.p401 {
    font-size: 15px;
    margin-right: 265px;
    color: #5c5858;
}

.p402 {
    margin-top: -18px;
    margin-right: 260px;
    color: #b3acac;
}

.p403 {
    font-size: 15px;
    margin-right: 265px;
    color: #5c5858;
}

.p404 {
    margin-top: -18px;
    margin-right: 260px;
    color: #b3acac;
}

.p405 {
    font-size: 15px;
    margin-right: 265px;
    color: #5c5858;
    font-weight: 900;
}

.p406 {
    margin-top: -18px;
    margin-right: 260px;
    color: #b3acac;
}

.p407 {
    font-size: 15px;
    margin-right: 270px;
    color: #b3acac;
}


.p408 {
    font-size: 15px;
    margin-right: 350px;
    margin-top: -30px;
    color: #b3acac;
}

.p409 {
    font-size: 15px;
    margin-right: 440px;
    margin-top: -33px;
    color: #b3acac;
}

.p410 {
    font-size: 15px;
    margin-right: 270px;
    color: #b3acac;
}

.g20 {
    width: 20px;
    height: 20px;
    margin-right: 300px;
    position: relative;
    top: -130px;
}

.g21 {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    position: relative;
    top: -130px;
}

.g22 {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    position: relative;
    top: -130px;
}

.g23 {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    position: relative;
    top: -130px;
}


.g24 {
    margin-right: -180px;
    position: relative;
    top:-50px;
}

.g25 {
    margin-right: -10px;
    position: relative;
    top:-50px;
}

.g26 {
    margin-right: 10px;
    position: relative;
    top:-50px;
}